
body {
    background-color: #306d8f;
}





.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

background-color{
    color: #1717ff;
}
h1{
    color: #a4a4ce;
}

h2{
    color:#FF0000;
}